@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li, button{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration:none;
}

.header_a{
  color: #edf0f1;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a{
  background-color: none;
}

header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 10px;
  background-color: #24252A;
}

footer{
  background-color: #24252A;
}

.logo{
    width:100px;
    cursor:pointer;
    margin-right:auto;
    margin-left: 25px;
}

.git{
  width: 30px;
  margin-bottom: 15px;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #0088a9;
}

button{
  padding:9px 25px;
  background-color: rgba(0,0,0,0);
  border:none;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
  vertical-align: -.125em;
}

.ctest{
  color:black;
}

.ctest:hover{
  color: rgba(0,136,169,0.8);
}
