/*

Hoja de estilos personalizada de la webapp, y se usa en conjunto con la de bootstrap

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); /* font que se importa desde googlefonts para colocarla en el sitio*/

*{
  /* clases generales para todos los componentes del sitio, sujeta a las posibles clases extra de un tag particular */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li, button{
  /*clases generales para todos los tags de tipo li (list item) o button */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration:none; /* para que el link no se subraye ni tenga otras decoraciones por default*/
}

.list{
  /* clase personalizada para la los li de la seccion de Funcionamiento */
  color: currentColor;
}

.header_a{
  /* clase personalizada para los tags de tipo a(anchor/ancla) en el nav */
  color: #edf0f1;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a{
  /*clase general para todos los tags de tipo a en el sitio*/
  background-color: none; /*style para que los a no tengan color de fondo*/
}

header{ /*clase general para el header*/
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 10px;
  background-color: #24252A;
}

footer{ /*clase general para el footer*/
  background-color: #24252A;
}

.logo{ /*clase personalizada para el logo del sitio*/
    width:100px;
    cursor:pointer;
    margin-right:auto;
    margin-left: 25px;
}

.git{ /*clase personalizada para el logo de git en el nav*/
  width: 30px;
  margin-bottom: 15px;
}

/*Clases para los links del nav*/
.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #0088a9;
}

button{  /*clase general para los button */
  padding:9px 25px;
  background-color: rgba(0,0,0,0);
  border:none;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
  vertical-align: -.125em;
}

/*Clases para los tabs del card en la seccion de Analisis*/
.ctest{
  color:black;
}

.ctest:hover{
  color: rgba(0,136,169,0.8);
}
